.header{
    background-image: url('../../assets/frontend_assets/banner.png');
    background-color: orange ;
    background-position: right ;
    background-size: contain ;
    background-repeat: no-repeat;
    
}

.header-content{
    animation: fade_in 3s linear;
}
@keyframes fade_in {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}